.aboutcontainer {
  min-height: 100vh;
}

.about {
  width: 85%;
  margin: 0 auto;
  padding-top: 2em;
  z-index: 2;
}

.intro {
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 2em;
  line-height: 1em;
}

.text {
  margin-top: 1.25em;
  font-weight: 300;
  font-size: 0.9em;
}

@media (min-width: 800px) {
  .aboutcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about {
    width: 50%;
    background-color: rgba(90, 90, 90, 0.31);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 70px;
    padding: 4em;
  }

  .text {
    font-size: 1em;
  }
}
