.logo,
.portfoliologoanimated,
.portfoliologo {
  position: relative;
  top: 25px;
}

.portfoliologoanimated {
  cursor: pointer;
}

.portfoliologo,
.logo {
  width: 70px;
  height: 70px;
}

@media (min-width: 450px) {
  .portfoliologo,
  .logo {
    width: 100%;
    height: 100%;
  }
}
