.animationcontainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #07112f;
}

.logo {
  width: 30%;
  height: 30%;
}

@media (min-width: 800px) {
  .logo {
    width: 15%;
    height: 15%;
  }
}
