.mobilenavlight {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
  height: 100vh;
  width: 75vw;
  background: rgb(13, 26, 61, 0.78);
  border-radius: 30px 0px 0px 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transform: translateX(120%);
  visibility: hidden;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.mobilenavdark {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
  height: 100vh;
  width: 75vw;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px 0px 0px 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transform: translateX(120%);
  visibility: hidden;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.mobilenavopenlight {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  height: 100vh;
  width: 75vw;
  background: rgb(13, 26, 61, 0.78);
  border-radius: 30px 0px 0px 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transform: translateX(0%);
  visibility: visible;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.mobilenavopendark {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  height: 100vh;
  width: 75vw;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px 0px 0px 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transform: translateX(0%);
  visibility: visible;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.closelight {
  color: white;
  position: absolute;
  top: 32.5px;
  right: 13%;
}

.closedark {
  color: black;
  position: absolute;
  top: 32.5px;
  right: 13%;
}

.textdiv {
  height: 100vh;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 14%;
}

.contactlink {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #24ff7c;
  padding: 0.75em 1em;
  border-radius: 13px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1rem;
  margin: 1.5em 0 1.5em 0;
}

.linkslight {
  margin: 1.5em 0 1.5em 0;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1rem;
  color: white;
}

.linksdark {
  margin: 1.5em 0 1.5em 0;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1rem;
  color: black;
}

.contact {
  padding-right: 0.5em;
}
