.container {
  background-color: #0d1a3d;
}

.navcontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

.links,
.contactlink {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1rem;
}

.links {
  color: white;
}

.contactlink {
  color: black;
  margin-right: 0.5em;
}

.contactlinkcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #24ff7c;
  padding: 0.75em 1em;
  border-radius: 13px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
