.togglelight {
  background-color: #404040;
  width: 60px;
  height: 20px;
  border-radius: 25px;
  position: relative;
  transition: all 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.toggledark {
  background-color: #f0f0f0;
  width: 60px;
  height: 20px;
  border-radius: 25px;
  position: relative;
  transition: all 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.circlelight {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: -1px;
  bottom: -3.1px;
  transform: translateX(0%);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.circledark {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: -1px;
  bottom: -3.1px;
  transform: translateX(120%);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.moon {
  color: white;
}

.toggledark,
.togglelight {
  margin: 1.5em 0;
}
